.App {
  text-align: center;
}
h1 {
  padding-top: 7vh;
  font-size: 7vh;
}
p{
  font-size: 4vh;
}

.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
button {
  font-family: inherit;
  font-weight: 700;
  margin: 1rem;
  font-size: 2rem;
  border-radius: 3px;
  border: none;
  margin-top: 5rem;
  box-shadow: 0 .5em .5em rgba(108, 102, 102, 0.746), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em .5em rgba(0, 0, 0, 0.3);
  height: 7vh;
  width: 7vw;
}